html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
}

code, kbd, pre, samp {
  font-family: monospace;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
}

a {
  color: #03a;

}

.navbar-toggle {
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 5px;
}

.navbar-brand {
  line-height: 1em;
  height: auto;
  padding: 10px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-nav>li>a {
  line-height: 1em;
  height: auto;
  padding-top: 13px;
  padding-bottom: 8px;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  background-color: #fff;
}

.jumbotron h1 {
  margin: 0px;
  font-size: 1.6rem;
  font-weight: 700;
}

.jumbotron p {
  margin: 5px 0px 0px 0px;
  font-size: 1rem;
  color: #888888;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

article {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-radius: 7px;
  box-shadow: 0px 2px 1px #f0f0f0;
  -webkit-box-shadow: 0px 2px 1px #f0f0f0;
  -moz-box-shadow: 0px 2px 1px #f0f0f0;
  padding: 0px;
  margin: 0px 0px 15px 0px;
}

header.article-header {
  border-radius: 7px;
  background: -moz-linear-gradient(top, #fafafa 0%, #fafafa 33%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(33%, #fafafa), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #fafafa 0%, #fafafa 33%, #ffffff 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #fafafa 33%, #ffffff 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #fafafa 33%, #ffffff 100%);
  background: linear-gradient(to bottom, #fafafa 0%, #fafafa 33%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff', GradientType=0);
  padding: 5px 10px 5px 10px;
}

div.summary, div.content-body {
  padding: 0px 10px 0px 10px;
}

@media (max-width: 768px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  article {
    border-radius: 0px;
  }
  header.article-header {
    border-radius: 0px;
  }
  div.summary, div.content-body {
    padding: 0px 5px 0px 5px;
  }
}

article h1 {
  margin-top: 9px;
  margin-bottom: : 9px;
}

article h2 {
  border-bottom: 1px solid #ccc;
}

article img {
  max-width: 85%;
  margin: 0 auto;
  display: block;
}

.index-article-header-info, .index-article-header-date, .article-header-info, .article-header-date {
  font-size: 0.8rem;
  color: #999;
}

/* .index-article-header-modified, .article-header-modified {
  font-size: 0.8rem;
  color: #aaa;
} */

#site-colophon {
  font-size: 0.7rem;
}

.pheasant-figure {
  margin-bottom: 24px;
}

.pheasant-figure p {
  text-align: center;
  margin: 0px;
  font-weight: bold;
  color: #000066;
}

.pheasant-figure svg {
  margin-left: auto;
  margin-right: auto;
  display: table !important;
  width: auto !important;
}

.pheasant-table {
  margin-top: 24px;
}

.pheasant-table p {
  text-align: center;
  margin-bottom: 2px;
  font-weight: bold;
  color: #000066;
}

.pheasant-table table {
  margin-left: auto;
  margin-right: auto;
  display: table !important;
  width: auto !important;
}
