blinker==1.4
certifi==2017.11.5
docutils==0.14
feedgenerator==1.9
Jinja2==2.10
livereload==2.5.1
Markdown==2.6.10
MarkupSafe==1.0
pelican==3.7.1
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
tornado==4.5.2
Unidecode==0.4.21
wincertstore==0.2
