{% extends "base.html" %}

{% block meta %}{% endblock %}

{% block title %} &ndash; {{ article.title|striptags|escape }}{% endblock %}

{% block content %}
<article class="single">
  <header class="article">
    <p><span class="date">{{ article.locale_date }}</span>
    <span class="info"><i class="fa fa-folder"></i> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span></p>
    <h1>{{ article.title }}</h1>
  </header>
  <div class="content">{{ article.content }}</div>

  {% if article.tags %}
  <div class="tag-cloud">
    <p>
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
    </p>
  </div>
  {% endif %}

  {% if article.related_posts %}
  <div class="related-posts">
    <h4>You might enjoy</h4>
    <ul class="related-posts">
      {% for related_post in article.related_posts %}
      <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</article>
{% endblock content %}
