<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="{{ AUTHOR }}" />
  {% block meta %}{% endblock %}

  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.css" />
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/pheasant.css" />
  <link rel='stylesheet' href="//fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" />
  <link rel='stylesheet' href="//cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  {% if FAVICON %}
  <link rel="shortcut icon" href="{{ FAVICON }}" type="{{ FAVICON_TYPE }}" />
  {% endif %}
  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
</head>

<body>
  <aside>
    <div>
      <a href="{{ SITEURL }}">
        <img src="https://www.gravatar.com/avatar/425bf792666d158202306d5dc73367d0?s=140" />
      </a>
      <h1><a href="{{ SITEURL }}">{{ SITETITLE }}</a></h1>

      {% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}</p>{% endif %}

      {% if pages or LINKS %}
      <nav>
        <ul class="list">
          {% if not PAGES_SORT_ATTRIBUTE -%}
          {% set PAGES_SORT_ATTRIBUTE = 'title' %}
          {%- endif %}
          {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in pages|sort(attribute=PAGES_SORT_ATTRIBUTE) %}
          <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          {% endif %}
          {% for name, link in LINKS %}
          <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </aside>
  <main>
    {% if MAIN_MENU %}
    <nav>
      <a href="{{ SITEURL }}">Home</a>
      {% for title, link in MENUITEMS %}
      <a href="{{ link }}">{{ title }}</a>
      {% endfor %}
    </nav>
    {% endif %}

    {% block content %}{% endblock %}

    <footer>
    </footer>
  </main>
</body>

</html>
