{% extends "base.html" %}
{% block title %}{{ super() }}{% if articles_page and articles_page.number > 1 %} - Page {{ articles_page.number }}{% endif %}{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
<article class="index">
  <header class="article">
    <p><span class="date">{{ article.locale_date }}</span>
    <span class="info"><i class="fa fa-folder"></i> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span></p>
    <h1>
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags|e }}">{{ article.title }}</a>
    </h1>
  </header>

  {% if article.abstract %}<div class="abstract">{{ article.abstract }}</div>{% endif %}

</article>
{% endfor %}

{% include "partial/pagination.html" %}
{% endblock content %}
