<div class="article-header">
  <span class="article-header-date">{{ article.locale_date }}</span>
  <span class="article-header-info">
    <i class="fa fa-folder"></i>
    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  </span>
  <h1>{{ article.title }}</h1>
</div>
