<address id="site-colophon">
  <p class="text-center text-muted" style>
  Site built using <a href="http://getpelican.com/" target="_blank">Pelican</a>
  &nbsp;&bull;&nbsp; Theme based on
  <a href="http://www.voidynullness.net/page/voidy-bootstrap-pelican-theme/"
     target="_blank">VoidyBootstrap</a> by
  <a href="http://www.robertiwancz.com/"
     target="_blank">RKI</a>
  </p>
</address>
